# workspace settings
.snakemake/*
.vscode/*
.cache/*


# workflow large files
data/*
logs/*
nohup-out/*
outputs/*
rawdata/*
reference/*
src/cellranger/*
mkref_*/
apptainer-tmp/*
benchmarks/*
tests/*
*.sif

# snakemake environment files
snakemake_v9/*
