# workspace settings
.snakemake/*
.vscode/*
.cache/*


# workflow large files
data/*
logs/*
nohup-out/*
notebooks/inter-cluster-angle/temp/*
outputs/*
rawdata/*
reference/*
src/cellranger/*
mkref_*/
apptainer-tmp/*
benchmarks/*
tests/*
*.sif

# ignore Snakemake environment directory and snkmt database (a logger for Snakemake runs)
snakemake_v9/*
snkmt-db

# ignore Jupyter Notebook checkpoints
**/.ipynb_checkpoints/*
*-checkpoint.ipynb
*-checkpoint.py
